body {
    font-family: 'ssf4', Courier, monospace;
    background: var(--secondary-color);
}

body::before{
    content: '';
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.header .title {
    color: var(--low-title);
    text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;
    -webkit-text-stroke: 2px var(--big-title);
}

.character-selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-selection .big-character {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}

.character-selection .big-character img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character-selection .big-character .name::before {
    content: '';
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.character-selection .big-character .name h2 {
    color: var(--standard-color);
    font-family: 'command', sans-serif;
    position: absolute;
    bottom: -15px;
    width: 100%;
    font-size: 27px;
}

.character-selection .big-character.character-player-1  .name::before {
    background-color: var(--main-blue);
}

.character-selection .big-character.character-player-2  .name::before {
    background-color: var(--main-red);
}

.character-selection .character-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}

.character-selection .character-list .character {
    border: 2px solid var(--standard-color);
    background-color: var(--standard-color);
    width: 30%;
    height: 160px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.character-selection .character-list .character img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.character-selection .character-list .character.selected {
    border: 2px solid var(--medium-blue);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-selection .character-list .character:hover {
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.character-selection .character-list .character.player-2-selected {
    border: 2px solid var(--low-red);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-selection .character-list .character.player-2-selected:hover {
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-selection .character-list .character .tag {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--medium-blue);
    transition: opacity .3s ease-in-out;
    animation: alternate;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-selection .character-list .character.selected .tag {
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-selection .character-list .character.player-2-selected .tag {
    display: block;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}