:root {
    --main-red: #D60223;
    --medium-red: #f89284;
    --low-red: #ffbebe;

    --low-brown: #ebd5d2;

    --main-blue: #0271F7;
    --medium-blue: #d3ffff;
    --low-blue: #8fbff8;

    --low-purple: #c2c2f1;

    --low-title: #faefd8;
    --big-title: #f77a2c;

    --standard-color: #ffffff;
    --secondary-color: #000000;
}